html,
body {
    background-color: #D5DBD8;
    width: 100%;
    height: 100%;
    color: #4F534E;
}

a {
    color: #373A36;
    text-decoration: none;
}

.btn, .btn:focus {
    outline: none !important;
}

.btn-link {
    color: #373A36;
    font-size: 24px;
    text-decoration: none !important;
}

.btn-link:hover {
    color: #5bc0de;
}

.logo img {
    padding: 30px 20px 20px;
}

.menu .pane {
    background-color: #2B2828;
    border-right: 1px solid #7B807E;
}

.menu .item-complex .item-content {
    background-color: #2B2828;
}

.menu .item {
    color: #5bc0de;
    text-decoration: none;
    background: transparent;
    border-color: #375158;
}

.menu .active, .menu .item .item-content.activated {
    background-color: #D5DBD8;
    color: #2B2828;
}

.editing > button {
    color: #5bc0de !important;
}
.editing > a {
    color: #5bc0de !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #D5DBD8;
}

.createBookmark {
    padding-left: 5px;
    padding-right: 5px;
}

.create-form, .edit-form {
    padding: 20px;
}
