html,
body {
    background-color: #D5DBD8;
    width: 100%;
    height: 100%;
    color: #4F534E;
}

.disable-pointer-events {
    pointer-events: all;
}

a {
    color: #373A36;
    text-decoration: none;
}

.logo img {
    padding: 30px 20px 20px;
}

.menu .pane {
    background-color: #2B2828;
    border-right: 1px solid #7B807E;
}

.menu a {
    color: #5bc0de;
    text-decoration: none;
}

.menu .item {
    background: transparent;
    border-color: #375158;
}

.menu a:not(.logo):focus, .menu .active {
    background-color: #D5DBD8;
    color: #2B2828;
}
