<ion-view cache-view="false" view-title="{{bookmarksListCtrl.title}}">
    <ion-nav-buttons side="primary">
        <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button ng-click="bookmarksListCtrl.toggleEditMode()" class="button button-icon ion-edit"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list show-delete="bookmarksListCtrl.isEditMode" show-reorder="true">
            <ion-item href="" ng-click="bookmarksListCtrl.goToUrl(bookmark)"
                      ng-repeat="bookmark in bookmarksListCtrl.bookmarks">

                {{bookmark.title}}

                <ion-delete-button ng-click="bookmarksListCtrl.deleteBookmark(bookmark)"
                                   class="ion-minus-circled"></ion-delete-button>

                <ion-reorder-button on-reorder="bookmarksListCtrl.moveBookmark(bookmark, $fromIndex, $toIndex)"
                                    class="ion-navicon"></ion-reorder-button>
            </ion-item>
        </ion-list>
        <div class="padding" ng-if="bookmarksListCtrl.getCurrentCategory()">
            <button type="button" class="button button-balanced button-block"
                    ng-click="bookmarksListCtrl.showCreateModal()">
                <i class="icon ion-compose"></i> Create Bookmark
            </button>
        </div>
    </ion-content>
</ion-view>
