<ion-view cache-view="false" view-title="{{bookmarksListCtrl.title}}">
    <ion-nav-buttons side="primary">
        <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>
        <div ng-repeat="bookmark in bookmarksListCtrl.bookmarks | filter:{category:bookmarksListCtrl.getCurrentCategoryName()}">
            <button type="button" class="close" ng-click="bookmarksListCtrl.deleteBookmark(bookmark)">&times;</button>
            <button type="button" class="btn btn-link" ui-sref="eggly.categories.bookmarks.edit({ bookmarkId:bookmark.id})" ><span class="glyphicon glyphicon-pencil"></span>
            </button>
            <a href="" ng-click="bookmarksListCtrl.goToUrl(bookmark)">{{bookmark.title}}</a>
        </div>
        <hr/>
        <ui-view>
            <div ng-if="bookmarksListCtrl.getCurrentCategory()">
                <button type="button" class="btn btn-link"
                        ui-sref="eggly.categories.bookmarks.create">
                    <span class="glyphicon glyphicon-plus"></span>
                    Create Bookmark
                </button>
            </div>
        </ui-view>
    </ion-content>
</ion-view>
